<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.billz.sys.dao.SysUserMapper">
	<resultMap id="BaseResultMap" type="com.billz.sys.model.SysUser">
		<id property="userid" column="userid" jdbcType="BIGINT" />
		<result property="uname" column="uname" jdbcType="VARCHAR" />
		<result property="nickname" column="nickname" jdbcType="VARCHAR" />
		<result property="logo" column="logo" jdbcType="VARCHAR" />
		<result property="pwd" column="pwd" jdbcType="VARCHAR" />
		<result property="status" column="status" jdbcType="BOOLEAN" />
		<result property="roleid" column="roleid" jdbcType="BIGINT" />
		<result property="sellerid" column="sellerid" jdbcType="BIGINT" />
		<result property="loginip" column="loginip" jdbcType="VARCHAR" />
		<result property="logindate" column="logindate" jdbcType="TIMESTAMP" />
		<result property="createtime" column="createtime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		userid,uname,nickname,logo,pwd,status,roleid,sellerid,loginip,logindate,createtime
	</sql>
	<sql id="Tb_table_name">sys_user</sql>
	
	<select id="findPageCount" parameterType="psb" resultType="Integer">
		select count(1) from <include refid="Tb_table_name" />
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="bean.uname != null and bean.uname != '' ">
				and uname = #{bean.uname}
			</if>
			<if test="bean.nickname != null and bean.nickname != '' ">
				and nickname = #{bean.nickname}
			</if> 
			<if test="bean.status != null ">
				and status = #{bean.status}
			</if>
			<if test="bean.roleid != null and bean.roleid != '' ">
				and roleid = #{bean.roleid}
			</if>
			<if test="bean.sellerid != null and bean.sellerid != '' ">
				and sellerid = #{bean.sellerid}
			</if> 
		</trim>
	</select>
	
	<select id="findPageList" parameterType="psb" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from <include refid="Tb_table_name" /> 
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="bean.uname != null and bean.uname != '' ">
				and uname = #{bean.uname}
			</if>
			<if test="bean.nickname != null and bean.nickname != '' ">
				and nickname = #{bean.nickname}
			</if> 
			<if test="bean.status != null ">
				and status = #{bean.status}
			</if>
			<if test="bean.roleid != null and bean.roleid != '' ">
				and roleid = #{bean.roleid}
			</if>
			<if test="bean.sellerid != null and bean.sellerid != '' ">
				and sellerid = #{bean.sellerid}
			</if> 
		</trim>
		order by userid desc
		limit #{start},#{end}
	</select>
	
	<select id="findByUserid" parameterType="Long" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from 
			<include refid="Tb_table_name" />
		where userid = #{userid}
	</select>
	
	<select id="findByUnameAndPwd" parameterType="map" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from 
			<include refid="Tb_table_name" />
		where uname=#{uname} and pwd=#{pwd} 
		order by userid desc
		limit 1
	</select>
	
	<delete id="delByUserid" parameterType="Long">
		delete from <include refid="Tb_table_name" />
		where userid = #{userid}
	</delete>
	
	<insert id="insert" parameterType="com.billz.sys.model.SysUser" useGeneratedKeys="true"
		keyProperty="userid">
		insert into <include refid="Tb_table_name" />
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userid != null">
				userid,
			</if>
			<if test="uname != null">
				uname,
			</if>
			<if test="nickname != null">
				nickname,
			</if>
			<if test="logo != null">
				logo,
			</if>
			<if test="pwd != null">
				pwd,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="roleid != null">
				roleid,
			</if>
			<if test="sellerid != null">
				sellerid,
			</if>
			<if test="loginip != null">
				loginip,
			</if>
			<if test="logindate != null">
				logindate,
			</if> 
			createtime, 
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userid != null">
				#{userid},
			</if>
			<if test="uname != null">
				#{uname},
			</if>
			<if test="nickname != null">
				#{nickname},
			</if>
			<if test="logo != null">
				#{logo},
			</if>
			<if test="pwd != null">
				#{pwd},
			</if>
			<if test="status != null">
				#{status},
			</if>
			<if test="roleid != null">
				#{roleid},
			</if>
			<if test="sellerid != null">
				#{sellerid},
			</if>
			<if test="loginip != null">
				#{loginip},
			</if>
			<if test="logindate != null">
				#{logindate},
			</if>
				now(),
		</trim>
	</insert>
	
	<update id="updateByUserid" parameterType="com.billz.sys.model.SysUser">
		update <include refid="Tb_table_name" />
		<trim suffixOverrides=",">
			<set> 
				<if test="uname != null ">
					uname = #{uname},
				</if>
				<if test="nickname != null ">
					nickname = #{nickname},
				</if>
				<if test="logo != null ">
					logo = #{logo},
				</if>
				<if test="pwd != null ">
					pwd = #{pwd},
				</if>
				<if test="status != null ">
					status = #{status},
				</if>
				<if test="roleid != null ">
					roleid = #{roleid},
				</if>
				<if test="sellerid != null ">
					sellerid = #{sellerid},
				</if>
				<if test="loginip != null ">
					loginip = #{loginip},
				</if>
				<if test="logindate != null ">
					logindate = #{logindate},
				</if> 
			</set>
		</trim>
		where userid = #{userid}
	</update>
	
	<update id="updateLoginByUserid" parameterType="map">
		update <include refid="Tb_table_name" />
			set loginip = #{ip}, logindate = now()
		where userid = #{userid}
	</update>
</mapper>